<h1 class="page-title">Show Horse</h1>
<ul class="display">
  <li class="display__factory">{{model.constructor.modelName}}</li>
  {{#each dataview.fields as |field|}}
    {{#if field.canDisplay}}
      <li class="display__{{field.name}}">
        {{get model field.name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

{{#link-to "dashboard.horse.edit" model}}
  Edit Horse
{{/link-to}}

{{#link-to "dashboard.horse.championships" model}}
  Championships
{{/link-to}}

{{#link-to "dashboard.horse.championships.new" model}}
  New Championships
{{/link-to}}

{{#link-to "dashboard.horse.owner" model class="belongs-to"}}
  Owner#{{model.id}}
{{/link-to}}
