<h1 class="page-title">Show Horse</h1>
<ul class="display">
  <li class="display__factory">{{model.constructor.modelName}}</li>
  {{#each dataview.fields as |field|}}
    <li class="display__{{field.name}}">
      {{get model field.name}}
    </li>
  {{/each}}
</ul>

{{#link-to "dashboard.horse.edit" model}}
  Edit Horse
{{/link-to}}
