<nav>
  {{#link-to "index"}}
    Home
  {{/link-to}}
  {{#link-to "dashboard.horses.index"}}
    Horses
  {{/link-to}}
  {{#link-to "dashboard.horses.new"}}
    New Horses
  {{/link-to}}
  {{#link-to "dashboard.owner.index" 1}}
    First Owner
  {{/link-to}}
</nav>
{{outlet}}
